body { 
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.header { 
	width: 100%; 
	height: 25px;
	text-align: right;
	padding-top: 5px;
	padding-left:5px
}
.barraMenu {
	width: 100%;
	height: 40px;
	background-color: #000000;
	filter:alpha(opacity=50);
	-moz-opacity:.50;
	opacity:.50;
	text-align: center;
	padding-top: 10px;
}
@font-face {
	font-family: Soulfly;
	src: url(Soulfly.ttf) format('truetype');
}
#leyenda {
	color: white;
	padding-top: 5px;
	font-family: Soulfly;
	font-size: 70px;
	width: 100%;
	height: 80px;	
}
#leyenda1 {
	color: white;
	padding-top: 5px;
	font-family: Soulfly;
	font-size: 70px;
	width: 100%;
	height: 80px;	
}
.well1 {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  text-align: justify;
  background-color: #f5f5f5;
  filter:alpha(opacity=75);
	-moz-opacity:.75;
	opacity:.75;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well2 {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  text-align: justify;
  background-color: #000000;
  filter:alpha(opacity=75);
	-moz-opacity:.75;
	opacity:.75;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.footer { 
	width: 100%; 
	background-color:lightskyblue; 
}